---
title: <%- expansion.longname %>
subtitle: <%- expansion.releaseDate %>
layout: page
show_sidebar: false
hero_image: <%- expansion.image %>
---

![<%- card.card_number %>](<%- card.front_image %>)
<%expansion.langs.forEach(lang => {%>
<span title="<%- lang.name %>" style="font-size: 32px;cursor: pointer;" onclick="javascript:document.querySelector('img[alt=\'<%- card.card_number %>\']').src=document.querySelector('img[alt=\'<%- card.card_number %>\']').src.replace(/card_front\/[^/]+/, 'card_front/<%- lang.code %>').replace(/_[^/.0-9]+\.png/, '_<%- lang.code %>.png')"><%- lang.flag %></span><%})%>

## <%- card.card_title %>

|----|----|
| Número | <%- card.card_number %> |<%if (!card.is_anomaly && !card.is_non_deck) {%>
| Casa | ![<%- card.house %>](<%- house.image %> "<%- house.name %>") |<%}%>
| Tipo | <%- type %> |<%if (card.traits){%>
| Atributos | <%- card.traits %> |<%}%><%if (card.amber){%>
| Bônus | <%- card.amber %>A |<%}%><%if (card.card_type === 'Creature' || card.card_type === 'Creature1'){%>
| Poder | <%- card.power ? card.power : '0' %> |
| Armadura | <%- card.armor ? card.armor : '0' %> |<%}%><%if (card.card_text){%>
| Texto | <%- text %> |<%}%>
| Raridade | <%- rarity %> |<%if (card.flavor_text){%>
| Dizeres | <%- flavor %> |<%}%><%if (card.errata){%>

### Errata

<%- card.errata %><%}%><%if (faqs.length > 0){%>

### Dúvidas Frequentes<%faqs.forEach(faq => {%>

**<%- faq.title %>**

<%- faq.text %>

<hr/>

`Fonte:` [<%- faq.source.type %> (<%- faq.source.version %>)](<%- faq.source.url %>)<%})%><%}%>
